<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Inquiry</display-name>
    <servlet-name>Inquiry</servlet-name>
    <servlet-class>com.example.inquiry.Inquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inquiry</servlet-name>
    <url-pattern>/Inquiry</url-pattern>
  </servlet-mapping>
  <display-name>my-contact-app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InquiryDA0</display-name>
    <servlet-name>InquiryDA0</servlet-name>
    <servlet-class>com.example.inquiry.InquiryDA0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InquiryDA0</servlet-name>
    <url-pattern>/InquiryDA0</url-pattern>
  </servlet-mapping>
  <servlet>
    
    <description></description>
    <display-name>LoginSerevlet</display-name>
    <servlet-name>LoginSerevlet</servlet-name>
    <servlet-class>com.example.inquiry.LoginSerevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSerevlet</servlet-name>
    <url-pattern>/LoginSerevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.example.inquiry.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDAO</display-name>
    <servlet-name>UserDAO</servlet-name>
    <servlet-class>com.example.inquiry.UserDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDAO</servlet-name>
    <url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
</web-app>